@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins";
    color: rgb(73, 73, 73);
    background-color: #ffffff;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
}

main {
padding-top: 10vh;
}

.bookCardContainer {
    display: flex;
    justify-content: center;
}

.bookCard {
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 20vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.bookCard :first-child {
    font-size: 2rem;
    font-weight: 500;
}

.bookCard :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 500;
}

.bookCard p {
    display: flex;
    justify-content: center;
}

#newFormContainer {
    display: flex;
    justify-content: center;
}

#newFormTitle {

}

#newForm {

    width: 40vw;
    height: 40vw;
    border-radius: 15px;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.2);
}

#newForm div {
    padding-top: 10px;

}

#newFormTitle {
    display: flex;
    justify-content: center;
}

#newFormtitleContainer {
    display: flex;
    justify-content: center;
}

#newFormCheckBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newFormbuttonContainer {
    display: flex;
    justify-content: center;
}