@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins";
    color: rgb(0, 0, 0);
    background-color: #edeef6;
    margin: 0;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    height: 10vh;
}

main {
    padding-top: 10vh;
    height: 80vh;
}

#bookCardContainer {
    display: grid;
    grid-template: repeat(1, 1fr)/repeat( 4, 1fr);
    margin-left: 200px;
    margin-right: 200px;
}

.bookCard {
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.2);
}

.bookCard :first-child {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: cadetblue;
}

.bookCard :nth-child(2) {
    padding-top: 10px;
    font-size: 1.25rem;
    font-weight: 500;
}

.bookCard p {
    color: rgb(27, 27, 27);
    padding: 5px;
    display: flex;
    justify-content: center;
}

#formContainer {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.5);
}

#form {
    width: 25%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    
}


#formTitle {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 600;
    padding-top: 0.5rem;
}

#form div {
    display: flex;
    justify-content: center;
}


input {
    margin-top: 1.5rem;
    border: 1.5px rgb(221, 221, 221) solid;
    padding: 5px;
    border-radius: 3px;
}

#formCheckBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 40px;
}

#checkBoxQuestion {
    display: flex;
    align-items: center;
    height: 100%;
    width: 160px;
}

#inputCheckBox {
    height: 15px;
    width: 15px;
    margin-bottom: 25px;
}

#addButton {
    border: 0;
    background-color: rgb(74, 158, 119);
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 1.25rem;
    color: #edeef6;
    width: 75px;
    margin-top: 20px;
}


#newBookButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border: cadetblue 1px solid;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    background-color: rgb(74, 158, 119);
    color: white;
    font-size: 2rem;
}
