@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins";
    color: rgb(44, 44, 44);
}

header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
}

main {
padding-top: 10vh;
}

.bookCardContainer {
    display: flex;
    justify-content: center;
}

.bookCard {
    background-color: rgb(176, 207, 207);
    font-size: 1.25rem;
    width: 30vw;
    height: 30vw;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.bookCard p {
    display: flex;
    justify-content: center;
}

#newFormContainer {
    display: flex;
    justify-content: center;
}

#newForm {
    background-color: rgb(219, 229, 230);
    width: 40vw;
    height: 40vw;
    border-radius: 15px;
}

#newForm div {
    padding-top: 10px;
}

#newFormTitle {
    display: flex;
    justify-content: center;
}

#newFormtitleContainer {
    display: flex;
    justify-content: center;
}

#newFormCheckBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newFormbuttonContainer {
    display: flex;
    justify-content: center;
}